body {
	background-image: url(background.jpg);
	/*padding: 0;
	margin: 0;*/
}

/*navbar*/
nav {
	display: flex;
	justify-content: space-between;
}

.judul {
	text-decoration: none;
	color: orange;
	font-size: 35px;
	margin-left: 50px;
	margin-top: 5px;
}

.menu {
/*	margin-left: 600px;*/
    font-size: 10px;
	margin-top: 7px;
}

.menu a {
	text-decoration: none;
	font-size: 20px;
	margin-left: 70px;
	margin-top: 20px;
}

.about {
	color: white;
}

.portofolio {
	color: orange;
}

.contact {
	color: white;
}
/*navbar*/

/*main*/
main {
	color: white;
	display: flex;
	justify-content: center;
}

h1 {
	color: orange;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
/*	width: 200px;*/
}

.container {
    display: flex;
    flex-direction: column;
}

 #card {
/*                background: #0d1417;*/
				border: 2px solid #bc8cff;
                border-radius: 8px;
                box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
                height: 380px;
/*                margin: 6rem auto 8.1rem auto;*/
                width: 329px;
                padding: 20px;
            }

#card-title {
              font-family: "Raleway Thin", sans-serif;
              letter-spacing: 4px;
              padding-bottom: 10px;
              padding-top: 13px;
              text-align: center;
            }

#card-title h2 {
	color: white;
	margin-bottom: 5px;
}

.underline-title {
/*	background: -webkit-linear-gradient(right, #bc8cff, #bc8cff);*/
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
}

            a {
             text-decoration: none;
            }
            label {
                font-family: "Raleway", sans-serif;
                font-size: 11pt;
                color: white;
            }
            #forgot-pass {
                color: #2dbd6e;
                font-family: "Raleway", sans-serif;
                font-size: 10pt;
                margin-top: 3px;
                text-align: right;
            }
            form {
                align-items: left;
                display: flex;
                flex-direction: column;
            }
            .form-border {
                background: -webkit-linear-gradient(right, #bc8cff, #bc8cff);
                height: 1px;
                border-left-width: 25px;
                border-right:;-width: 25px;
            }
            .form-content {
                border-bottom: 1px solid #bc8cff!important;
                width: 95%;
                border-width: 0;
                outline: none;
                padding-top: 5px;
			    background: transparent;
			  	border-color: transparent;
                color: white;
            }

            #textarea {
            	border: 1px solid #0d1417;
            	width: 95%;
            	height: 15px;
/*            	border-radius: 10px;*/
				border-width: 0;
				border-bottom: 1px solid #bc8cff!important;
            }

            .khusus {
            	align-items: center;
               	display: flex;
            	flex-direction: column;
            }

            .khusus_label {
            	text-align: left;
            	width: 100%;
            	padding-top: 10px;
            	padding-left: 27px;
            }

            .wadah {
            	height: 220px;
            	width: 100%;
            	display: flex;
            	justify-content: center;
            	align-items: center;
            }

            #signup {
                color: #2dbd6e;
                font-family: "Raleway", sans-serif;
                font-size: 10pt;
                margin-top: 16px;
                text-align: center;
            }
            #submit-btn {
                background: -webkit-linear-gradient(right, orange, orange);
                border: none;
                border-radius: 21px;
                box-shadow: 0px 1px 8px #24c64f;
                cursor: pointer;
                color: black;
                font-family: "Raleway SemiBold", sans-serif;
                height: 42.3px;
                margin: 0 auto;
                margin-top: 25px;
                transition: 0.25s;
                width: 153px;
            }
            #submit-btn:hover {
                box-shadow: 0px 1px 18px #24c64f;
            }

.contents{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.contents a {
    text-decoration: none;
    color: white;
    height: 25px;
}