@media (max-width: 600px) {
	.header {
		padding: 1.3rem 5%;
	}
}

@media (max-width: 450px) {
	.judul {
		font-size: 25px;
		margin-left: 5px;
		margin-top: 0;
	}

	.drop {
		display: inline-flex;
		margin-top: 5px;
		margin-right: 10px;
	}

	/*#icon-menu {
		display: block;
	}*/

	#check:checked~.drop #icon-menu {
		display: none;
	}

	.drop #close-menu {
		display: none;
	}

	#check:checked~.drop #close-menu {
		display: block;
	}

	.menu a {
		font-size: 10px;
		display: block;
		font-size: 1rem;
		margin: 1.5rem 0;
		text-align: center;
		transform: translateY(-50px);
		transition: .2s ease;
	}

	.menu {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 0;
		background-color: rgb(225, 225, 225, .15);
		backdrop-filter: blur(50px);
		overflow: hidden;
		transition: .2s ease;
	}

	#check:checked~.menu {
		height: 70px;
		border-radius: 10px;
	}

	#check:checked~.menu a {
		transform: translateY(0);
	}


	h1 {
		font-size: 30px;
	}

	/*#card {
		height: 320px;
		width: 280px;
	}*/

	.wadah {
		height: 100px;
	}

	.contents {
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.ig {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#card {
		width: 200px;
		height: 300px;
	}
}