 @media (max-width: 1380px) {
	#check {
		display: none;
	}

	.nav2 {
		display: none;
	}
}

@media (max-width: 1050px) {
	main {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	aside {
		width: 100%;
		/*margin-bottom: 20px;
		margin-left: 90px;*/
		display: flex;
		justify-content: center;
	}

	article {
/*		margin-left: 220px;*/
		display: flex;
		justify-content: center;
		width: 100%;
	}

	#check {
		display: none;
	}

	.nav2 {
		display: none;
	}
}

/*tablet*/
@media (max-width: 1000px) {
	main {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	aside {
		width: 100%;
		/*margin-bottom: 20px;
		margin-left: 90px;*/
		display: flex;
		justify-content: center;
	}

	article {
/*		margin-left: 220px;*/
		display: flex;
		justify-content: center;
		width: 100%;
	}

	nav {
		width: 100%;
	}

	.menu {
/*		margin-left: 350px;*/
	}

	.top {
		align-items: center;
		justify-content: space-around;
		display: flex;
	}

	.html {
		margin-left: 0;
	}
}

@media (max-width: 678px) {
	.menu {
/*		margin-left: 30px;*/
		margin-top: 5px;
	}

	.about {
		margin: 0;
	}

	.portofolio {
		margin-left: 0;
	}

	.gambar {
		height: 150px;
		width: 150px;
	}

	.top {
		align-items: center;
		justify-content: space-around;
		display: flex;
	}

	.html {
		margin-left: 0;
	}


	.judul a {
		font-size: 25px;
	}

	.menu a {
		font-size: 15px;
	}

	.judul a {
		margin-left: 15px;
	}
}

@media (max-width: 530px) {
	/*#check {
		display: block;
		color: orange;
		background-color: orange;
	}

	#check:checked ~

	.menu {
		display: none;
	}

	.nav2 {
		display: block;
	}*/

	.judul a {
		margin-left: 5px;
	}

	.header {
		padding: 1.3rem 5%;
	}
}

@media (max-width: 450px) {
	.judul {
		font-size: 15px;
		margin-left: 5px;
	}

/*	#check {
		display: ;
	}*/

	.menu a {
		font-size: 10px;
	}

	.menu {
		justify-content: space-evenly;
/*		margin-left: 50px;*/
	}

	.drop {
		display: inline-flex;
		margin-top: 5px;
		margin-right: 10px;
	}

	#check:checked~.drop #icon-menu {
		display: none;
	}

	.drop #close-menu {
		display: none;
	}

	#check:checked~.drop #close-menu {
		display: block;
	}

	.menu {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 0;
		background-color: rgb(225, 225, 225, .15);
		backdrop-filter: blur(50px);
		overflow: hidden;
		transition: .2s ease;
	}

	#check:checked~.menu {
		height: 70px;
		border-radius: 10px;
	}

	.menu a {
		font-size: 10px;
		display: block;
		font-size: 1rem;
		margin: 1.5rem 0;
		text-align: center;
		transform: translateY(-50px);
		transition: .2s ease;
	}

	#check:checked~.menu a {
		transform: translateY(0);
	}

	.menu {
		justify-content: space-evenly;
/*		margin-left: 50px;*/
	}

	article h1 {
		font-size: 30px;
	}

	/*.me {
		width: 70px;
		font-size: 8px;
	}*/

	article h2 {
		font-size: 20px;
	}

	article p {
		font-size: 13px;
	}

	.left1 h3 {
		font-size: 15px;
	}

	.left1 p {
		font-size: 10px;
	}

	.row h3 {
		font-size: 15px;
	}

	.row p {
		font-size: 10px;
	}

	.left2 {
/*		margin-left: 40px;*/
	}

	.left2 h3 {
		font-size: 15px;
	}

	.left2 p {
		font-size: 10px;
	}

	.html {
		height: 85px;
		width: 70px;
	}

	.bhtml h2 {
		font-size: 15px;
	}

	.css {
		height: 85px;
		width: 70px;
	}

	.bcss h2 {
		font-size: 15px;
	}

	.js {
		height: 85px;
		width: 70px;
	}

	.bjs h2 {
		font-size: 15px;
	}
}

